*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 1px solid #dee2e6;
    height: 100vh; /* Full height */
}

